language: rust
sudo: false
matrix:
  include:
    - os: linux
      rust: stable
      addons:
        apt:
          packages:
            - libgcrypt11-dev
      script:
        - travis-cargo build -- --no-default-features
        - travis-cargo test -- --no-default-features
    - os: linux
      rust: stable
      before_install:
        - curl -sL https://ftp.gnu.org/gnu/automake/automake-${AUTOMAKE_VERSION}.tar.gz -o automake-${AUTOMAKE_VERSION}.tar.gz
        - tar -xvf automake-${AUTOMAKE_VERSION}.tar.gz
        - pushd automake-${AUTOMAKE_VERSION}
        - ./configure --prefix=${HOME}/.local 1>/dev/null
        - make -j2 1>/dev/null
        - make install 1>/dev/null
        - popd
        - curl -sL https://ftp.gnu.org/gnu/gettext/gettext-${GETTEXT_VERSION}.tar.gz -o gettext-${GETTEXT_VERSION}.tar.gz
        - tar -xvf gettext-${GETTEXT_VERSION}.tar.gz
        - pushd gettext-${GETTEXT_VERSION}
        - ./configure --without-emacs --disable-java --disable-c++ --enable-fast-install --prefix=${HOME}/.local 1>/dev/null
        - make -j2 1>/dev/null
        - make install 1>/dev/null
        - popd
        - export LD_LIBRARY_PATH=$HOME/.local/lib:$LD_LIBRARY_PATH
      script:
        - travis-cargo build
        - travis-cargo test
        - travis-cargo doc
      after_success:
        - travis-cargo doc-upload
    - os: linux
      rust: nightly
      before_install:
        - curl -sL https://ftp.gnu.org/gnu/automake/automake-${AUTOMAKE_VERSION}.tar.gz -o automake-${AUTOMAKE_VERSION}.tar.gz
        - tar -xvf automake-${AUTOMAKE_VERSION}.tar.gz
        - pushd automake-${AUTOMAKE_VERSION}
        - ./configure --prefix=${HOME}/.local 1>/dev/null
        - make -j2 1>/dev/null
        - make install 1>/dev/null
        - popd
        - curl -sL https://ftp.gnu.org/gnu/gettext/gettext-${GETTEXT_VERSION}.tar.gz -o gettext-${GETTEXT_VERSION}.tar.gz
        - tar -xvf gettext-${GETTEXT_VERSION}.tar.gz
        - pushd gettext-${GETTEXT_VERSION}
        - ./configure --without-emacs --disable-java --disable-c++ --enable-fast-install --prefix=${HOME}/.local 1>/dev/null
        - make -j2 1>/dev/null
        - make install 1>/dev/null
        - popd
        - export LD_LIBRARY_PATH=$HOME/.local/lib:$LD_LIBRARY_PATH
      script:
        - travis-cargo build
        - travis-cargo test
        - travis-cargo doc
before_script:
  - pip install 'travis-cargo<0.2' --user && export PATH=$HOME/.local/bin:$PATH
env:
  global:
    - AUTOMAKE_VERSION=1.14.1
    - GETTEXT_VERSION=0.19.3
    - TRAVIS_CARGO_NIGHTLY_FEATURE=nightly
    - secure: IFIHfCQwQSBrQKF2BUZl3E6wpKM/XN09dH+pulmVqvxjIngVGndgtORY5ARBFOB5YzY2S10wKVeXwg66T19h2dnCQQSq03e5wohOziYdC+8mKLJRjhj+Tv0WkN9SKXieFYTq6bhSOUC/PfEMn32/wr5cNyLJQlJlf/pl1JsREG3jO84/0nci+4BCU1mDTlv7zYl42rMZwQMgQ7fIQgJvk7jbkgQLZWmmNhJQLFmKHDkwE14JA3H6smC4Pxj/RBkcuPwY5/0dw0vxpXIEBUHljkKhM6/1cJSsAOOdTUVmBCQTZZ2Nj8sL2wyJgzEdND9m/8eK1f5QNwMcbX+EtaHgo7cho/y18YzLGIdnCyBMiAbDZnMkCPI473OzW9ApgmjxNeXj36hFA+dSX0PuIv0uvGnWk+3ZPnWyJnPRzaOOarXkVsBx/n0EMtx4TlWFfvk9+fWj0rtoM5JWz8r9COi3/80JW948B14QzmO1G825QURnuppmoClVeNtzOFF7T0r1DISVznGespH+hqZ4WBNH4AzOfBX61UGI27GHYbn+dlgWseNxYI7LONBQEXzKSjIHJuCAyGLhbXhTtkK1faNE7EJ45Wgwwg5/1T/7dMnoOAmJ2QZ8hUsgbnVx4ogQ6wSn5CSO5AgYpd06uK+SUoxwXpIGut08IZQYSqI74FkGAmU=
branches:
  except:
    - /^v[0-9]/
notifications:
    email: false
