[package]
name = "gcrypt"
version = "0.3.0"
license = "LGPL-2.1"
description = "Libgcrypt bindings for Rust"
repository = "https://github.com/johnschug/rust-gcrypt"
documentation = "https://johnschug.github.io/rust-gcrypt"
authors = ["John Schug <john.ips.schug@gmail.com>"]
keywords = ["crypto", "cryptography"]

[dependencies]
libc = "0.2"
bitflags = "0.3"
lazy_static = "0.2"
gpg-error = "0.1"
libgcrypt-sys = {path = "libgcrypt-sys", features = ["shim"], version = "0.3.0"}

[workspace]
