[package]
name = "gcrypt"
version = "0.4.0"
authors = ["John Schug <john.ips.schug@gmail.com>"]
repository = "https://github.com/johnschug/rust-gcrypt"
documentation = "https://johnschug.github.io/rust-gcrypt"
license = "LGPL-2.1"
keywords = ["crypto", "cryptography"]
description = "Libgcrypt bindings for Rust"

[features]
default = ["v1_7_0"]
v1_6_0 = ["libgcrypt-sys/v1_6_0"]
v1_7_0 = ["v1_6_0", "libgcrypt-sys/v1_7_0"]
nightly = []

[dependencies]
cfg-if = "0.1"
libc = "0.2"
bitflags = "0.7"
lazy_static = "0.2"
gpg-error = "0.1"

[dependencies.libgcrypt-sys]
path = "libgcrypt-sys"
version = "0.4.0"
default-features = false
features = ["shim"]

[workspace]
