[package]
name = "gcrypt"
version = "0.5.4"
authors = ["John Schug <john.ips.schug@gmail.com>"]
license = "LGPL-2.1"
description = "Libgcrypt bindings for Rust"
repository = "https://github.com/johnschug/rust-gcrypt"
documentation = "https://docs.rs/gcrypt"
categories = ["cryptography", "api-bindings"]
keywords = ["crypto", "cryptography"]

[badges]
travis-ci = { repository = "johnschug/rust-gcrypt" }
appveyor = { repository = "johnschug/rust-gcrypt" }
maintenance = { status = "experimental" }

[features]
default = ["v1_8_0"]
v1_6_0 = ["libgcrypt-sys/v1_6_0"]
v1_7_0 = ["v1_6_0", "libgcrypt-sys/v1_7_0"]
v1_8_0 = ["v1_7_0", "libgcrypt-sys/v1_8_0"]
nightly = []

[dependencies]
cfg-if = "0.1"
libc = "0.2"
bitflags = "0.9"
lazy_static = "0.2"
gpg-error = "0.3"

[dependencies.libgcrypt-sys]
path = "libgcrypt-sys"
version = "0.5.4"
default-features = false
features = ["shim"]

[workspace]
