[package]
name = "gcrypt"
version = "0.5.4"
authors = ["John Schug <john.ips.schug@gmail.com>"]
license = "LGPL-2.1"
repository = "https://github.com/johnschug/rust-gcrypt"
documentation = "https://docs.rs/gcrypt"
categories = ["cryptography", "api-bindings"]
keywords = ["crypto", "cryptography"]
description = "Libgcrypt bindings for Rust"

[badges]
travis-ci = { repository = "johnschug/rust-gcrypt" }
appveyor = { repository = "johnschug/rust-gcrypt" }
maintenance = { status = "experimental" }

[features]
nightly = []

[dependencies]
cfg-if = "0.1"
libc = "0.2"
bitflags = "1"
lazy_static = "0.2"
cstr-argument = "0.0.2"
gpg-error = "0.2"

[dependencies.libgcrypt-sys]
path = "libgcrypt-sys"
version = "0.5.4"
features = ["shim"]

[replace]
"gpg-error:0.2.2" = { git = "https://github.com/johnschug/rust-gpg-error" }
"libgpg-error-sys:0.2.3" = { git = "https://github.com/johnschug/rust-gpg-error" }

[workspace]
